<div class="bg-secondary text-white" id="homeRef">
  <a class="text-white" href="/">Choose another team</a>
</div>
<div class="bg-secondary text-white" id="standingsRef">
  <a class="text-white" href="/team/standings/{{leagueId}}/{{teamId}}">Standings</a>
</div>
<div class="bg-secondary text-white" id="squadRef">
  <a class="text-white" href="/team/squad/{{leagueId}}/{{teamId}}">Squad</a>
</div>

<div style="margin-top: 30px" id="mainTeam" class="col-12 container-fluid row d-flex flex-column align-items-center">
  <div id="nextGameInfo" class="d-flex flex-column align-items-center">
    <div>
      <img width="50" height="50" src="{{nextGame.league.logo}}">
    </div>
    <div>
      {{nextGame.homeTeam.team_name}} vs {{nextGame.awayTeam.team_name}}. {{nextGame.league.name}}
    </div>
    <div>
      {{nextGame.event_date}}
    </div>
    <div>
      {{nextGame.venue}}
    </div>
  </div>
  <div id="nextGame" class="col-10 d-flex flex-row">
    <div id="playingTeams" class="col-8 d-flex flex-column">
      <div id="playingTeamsLogos">
        <img width="150" height="150" src="{{nextGame.homeTeam.logo}}">
        <img src="{{nextGame.awayTeam.logo}}">
      </div>
      <div class="h1 font-weight-bold">
        {{nextGame.homeTeam.team_name}}
      </div>
      <div class="h1 font-weight-bold">
        {{nextGame.awayTeam.team_name}}
      </div>
    </div>
    <div id="teamInfoButtons" class="col-4 d-flex flex-column justify-content-end">
      <form>
        <button id="previousGame" data-team-id="{{teamId}}" type="submit" name="teamInfoButtons" value="previousGame"
          class="btn btn-primary btn-lg btn-block">Previous
          games</button>
      </form>
      <form>
        <button id="predictions" data-fixture-id="{{nextGame.fixture_id}}" type="submit" name="teamInfoButtons"
          class="btn btn-primary btn-lg btn-block" value="predictions">Predictions</button>
      </form>
      <form>
        <button id="odds" data-fixture-id="{{nextGame.fixture_id}}" type="submit" name="teamInfoButtons"
          class="btn btn-primary btn-lg btn-block" value="odds">Odds</button>
      </form>
    </div>
  </div>
</div>
<p></p>
<p></p>
<p></p>

<div>
  <div id="teamInfoContainer" style="margin-top: 60px"></div>
  <div style="margin-top: 60px" id="advice"></div>
  <div class="col-10" height="400" height="400"><canvas id="myChart" class="h-75"></canvas></div>
</div>
{{!-- </div>
<div id="teamInfoContainer" style="margin-top: 60px">
  <div id="advice"></div>
</div>
<div class="col-10" height="400" height="400"><canvas id="myChart" class="h-75"></canvas></div> --}}
