<div id="mainTeam" class="col-12 container-fluid row d-flex flex-column align-items-center">
  <div id="nextGameInfo" class="d-flex flex-column align-items-center">
    <div>
      <img width="50" height="50" src="{{nextGame.league.logo}}">
    </div>
    <div>
      {{nextGame.homeTeam.team_name}} vs {{nextGame.awayTeam.team_name}}. {{nextGame.league.name}}
    </div>
    <div>
      {{nextGame.event_date}}
    </div>
    <div>
      {{nextGame.venue}}
    </div>
  </div>
  <div id="nextGame" class="col-10 d-flex flex-row">
    <div id="playingTeams" class="col-8 d-flex flex-column">
      <div id="playingTeamsLogos">
        <img width="150" height="150" src="{{nextGame.homeTeam.logo}}">
        <img src="{{nextGame.awayTeam.logo}}">
      </div>
      <div class="h1 font-weight-bold">
        {{nextGame.homeTeam.team_name}}
      </div>
      <div class="h1 font-weight-bold">
        {{nextGame.awayTeam.team_name}}
      </div>
    </div>
    <div id="teamInfoButtons" class="col-4 d-flex flex-column justify-content-end">
      <form>
        <button data-team-id="{{teamId}}" type="submit" name="teamInfoButtons" value="russia"
          class="btn btn-primary btn-lg btn-block">Previous
          games</button>
      </form>
      <form>
        <button class="btn btn-primary btn-lg btn-block">Button</button>
      </form>
      <form>
        <button class="btn btn-primary btn-lg btn-block">Button</button>
      </form>
    </div>
  </div>
</div>
<p></p>
<p></p>
<p></p>

<div id="teamInfoContainer">

</div>
<h1>2020/2021 Season</h1>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Teams</th>
      <th scope="col">Games</th>
      <th scope="col">W</th>
      <th scope="col">D</th>
      <th scope="col">L</th>
      <th scope="col">GF</th>
      <th scope="col">GA</th>
      <th scope="col">GD</th>
      <th scope="col">Pts</th>
      <th scope="col">Last 5</th>
    </tr>
  </thead>
  <tbody>
    {{#each teamsTable}}
    <tr>
      <th scope="row">{{rank}}</th>
      <td><img width="40" height="40" style="vertical-align: middle" src="{{logo}}"><strong> {{teamName}}</strong></td>
      <td style="vertical-align: middle">{{all.matchsPlayed}}</td>
      <td style="vertical-align: middle">{{all.win}}</td>
      <td style="vertical-align: middle">{{all.draw}}</td>
      <td style="vertical-align: middle">{{all.lose}}</td>
      <td style="vertical-align: middle">{{all.goalsFor}}</td>
      <td style="vertical-align: middle">{{all.goalsAgainst}}</td>
      <td style="vertical-align: middle">{{goalsDiff}}</td>
      <td style="vertical-align: middle">{{points}}</td>
      <td style="vertical-align: middle">{{forme}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
