<div>Choose league</div>
<form>
  <button data-league-id="{{rpl.league_id}}" type="submit" name="leagueForm" value="{{rpl.name}}">{{rpl.name}}</button>
</form>
<form>
  <button data-league-id="{{fnl.league_id}}" type="submit" name="leagueForm" value="{{fnl.name}}">{{fnl.name}}</button>
</form>
